body{
	margin: 0px;
	padding: 0px;
}

.home{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}


.content_1{
	text-align: right;
	font-size: 40px;
	color: black;
	font-family: 'Lexend Zetta';

}

.tittle h1{
	position: absolute;
	left: 470px;
	top: 90px;
	letter-spacing: 2px;
	font-size: 35px;
	font-weight: normal;
}

.tittle p{
	position: absolute;
	letter-spacing: 1px;
	font-style: oblique;
	left: 425px;
	top: 150px;
}

.btn_redeem_certificate{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 50px;
	border: solid 1px black;
	border-radius: 5px;
	background-color: #00398F;
	font-size: 25px;
	color: white;
	letter-spacing: 2px;
	text-decoration: none;
	font-weight: inherit;
	padding: 10px;
}


/*////////////////////////POPUP////////////////////////*/

.container-all{
	width: 100%;
	height: 100%;
	position: fixed;
	visibility: hidden;
	opacity: 0;
	transition: all 600ms;
}

.container-all:target{
	background: rgb(0, 0, 0, 0.5);
	visibility: visible;
	opacity: 1;
}

.popup{
	width: 100%;
	max-width: 700px;
	height: 525px;
	position: relative;
	display: flex;
	top: 50%;
	left: 50%;
	background: white;
	border-radius: 5px;
	border: solid 1px black;
	transform: translate(-50%, -50%);
}

.content{
	position: relative;
	width: 100%;
}

.box{
	position: absolute;
	border: solid 1px black;
	border-radius: 5px;
	width: 600px;
	height: 350px;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
}

.tittle h1{
	position: absolute;
	top: 16px;
	left: 125px;
	width: 100%;
	font-size: 35px;
	letter-spacing: 1px;

	font-family: "Poppins", sans-serif;
	font-weight: normal;
	letter-spacing: 2px;

}

.tittle p{
	position: absolute;
	width: 100%;
	left: 5px;
	top: 15%;
	font-size: 16px;

	font-family: "Poppins", sans-serif;
	font-weight: lighter;
	font-style: oblique;
	text-align: center;
}


.security_key{
	position: absolute;
	width: 150px;
	height: 58px;
	left: 150px;
	top: 175px;

	font-size: 20px;
	letter-spacing: 2px;
	font-family: "Poppins", sans-serif;
	font-weight: normal;
}

.security_key_n{
	position: absolute;
	width: 400px;
	height: 55px;
	left: 150px;
	top: 202px;

	background: rgb(219, 219, 219);
	border: none;
	border-radius: 5px;
	font-size: 20px;
	text-align: center;
}

.hash{
	position: absolute;
	width: 113px;
	height: 53px;
	left: 150px;
	top: 295px;

	font-size: 20px;
	letter-spacing: 2px;
	font-family: "Poppins", sans-serif;
	font-weight: normal;
}

.hash_n{
	position: absolute;
	width: 400px;
	height: 55px;
	left: 150px;
	top: 322px;

	background: rgb(219, 219, 219);
	border: none;
	border-radius: 5px;
	font-size: 20px;
	text-align: center;
}

/*	=	=	=	= GENERATE HASH =	=	=	=	*/


.info_1{
	position: absolute;
	width: 23px;
	height: 23px;
	left: 510px;
	top: 390px;
	border: solid black 1px;
	border-radius: 50%;
}

.info_1_1{
	position: absolute;
	width: 300px;
	height: 50px;
	left: 775px;
	top: 330px;
	padding: 5px;
	padding-right: 2px;
	padding-bottom: 1px;
	border: solid 1px black;
	background: rgb(219, 219, 219);
	border-radius: 15px;
	letter-spacing: 1px;
	display: none;
}

.link_info:hover .info_1_1{
	display: block;
}

/*	=	=	=	=	REDEEM CERTIFICATE	=	=	=	=	*/

.validate{
	position: absolute;
	left: 205px;
	top: 415px;
	width: 300px;
	height: 45px;

	border: none;
	border-radius: 5px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: whitesmoke;
	font-size: 20px;
	letter-spacing: 2px;
	background: #00398F;

}

.close_btn{
	position: absolute;
	width: 5px;
	height: 5px;
	right: -20px;
	top: -20px;
	padding: 15px;

	font-size: 15px;
	font-weight: bold;
	border-radius: 50px;
	border: solid black 1px;
	background: rgb(231, 231, 231);
	text-decoration: none;
	color: black;
	cursor: pointer;
}
