body{
	margin: 0px;
	padding: 0px;
}

.home{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.container-all{
	width: 100%;
	height: 100%;
	position: fixed;
	visibility: hidden;
	opacity: 0;
	transition: all 600ms;
}

.container-all:target{
	background: rgb(0, 0, 0, 0.5);
	visibility: visible;
	opacity: 1;
}

.popup{
	width: 100%;
	max-width: 400px;
	height: 150px;
	position: relative;
	display: flex;
	top: 35%;
	left: 50%;
	background: white;
	border-radius: 5px;
	border: solid 1px black;
	transform: translate(-50%, -50%);
}

.close_btn{
	position: absolute;
	width: 3px;
	height: 3px;
	right: -20px;
	top: -20px;
	padding: 15px;

	font-size: 15px;
	font-weight: bold;
	border-radius: 50px;
	border: solid black 1px;
	background: rgb(231, 231, 231);
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.box{
	position: absolute;
	border: solid 1px black;
	width: 350px;
	height: 100px;
	left: 50%;
	top: 77px;
	transform: translate(-50%, -50%);
}

.tittle{
	position: absolute;
	top: 35px;
	left: 70px;
	width: 100%;
	font-size: 20px;
	letter-spacing: 1px;

	font-family: "Poppins", sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}

.content{
	position: absolute;
	width: 100%;
	left: 5px;
	top: 70px;
	font-size: 15px;

	font-family: "Poppins", sans-serif;
	font-weight: lighter;
	font-style: oblique;
	text-align: center;
}
