
body{
	margin: 0px;
	padding: 0px;
}

.home{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.cover{
	width: 100%;
	height: 150vh;
}

.navbar{
	width: 100%;
	display: flex;
	height: 65px;
	align-items: center;
	justify-content: space-between;
	padding: 0 24px;
	box-sizing: border-box;
	color: black;
	font-size: 30px;
	background-color: rgb(240, 240, 240);
}

.navbar a{
	text-decoration: none;
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo{
	position: relative;
	align-items: center;
	top: 6px;
}

.content{
	text-align: right;
	font-size: 40px;
	color: black;
	font-family: 'Lexend Zetta';

}

.content h1{
	position: absolute;
	text-align: left;
	width: 300px;
	height: 171px;
	left: 700px;
	top: 150px;
	font-size: 54px;
	font-weight: bold;
	color: rgb(0, 0, 0);
}

.content h2{
	position: absolute;
	width: 800px;
	height: 66px;
	left: 272px;
	top: 300px;
	font-size: 15px;
	font-weight: inherit;
	letter-spacing: 1.45px;
	word-spacing: 1px;
	color: rgb(71, 71, 71);
}



.info_token{
	font-size: 17px;
	font-weight: lighter;
	color: black;

	width: 455px;
	height: 200px;
	top: 425px;
	right: 285px;
	box-sizing: border-box;
	border: solid 1px black;
	position: absolute;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-left: 10px;

	text-align: left;
	word-spacing: 1px;
	display: none;
}

.link_token:hover .info_token{
	display: block;
}

.info_token2{
	font-size: 17px;
	font-weight: lighter;
	color: #535353;

	width: 455px;
	height: 200px;
	top: 425px;
	left: 960px;
	position: absolute;
	letter-spacing: 1px;
	padding: 5px;

	text-align: left;
	word-spacing: 1px;
	display: none;
}

.link_token:hover .info_token2{
	display: block;
}

.btn_verify{
	position: absolute;
	top: 635px;
	left: 855px;
	width: 150px;
	height: 40px;
	color: white;
	background-color: #00398F ;
	border: none;
	border-radius: 15px;
	font-family: 'Lexend Zetta';
	font-size: 20px;
	letter-spacing: 4px;
	cursor: pointer;
	transition: ease all 200ms;
}

.btn_verify:hover{
	width: 300px;
	height: 40px;
	background-color: #00398F;
	top: 635px;
	left: 790px;
}
/*//////////////////////////// DETAILS ////////////////////////////*/
.btn2{
	position: absolute;
	left: 700px;
	top: 375px;
	width: 225px;
	height: 45px;
	color: black;
	background-color: transparent;
	font-family: 'Lexend Zetta';
	font-size: 20px;
	letter-spacing: 1px;
	border: transparent;
	border-bottom: solid black;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn2 a{
	text-decoration: none;
	color: black;
}

.btn2:hover{
	border-bottom: 5px solid #00398F;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

.info_details{
	font-size: 17px;
	font-weight: lighter;
	color: black;

	box-sizing: border-box;
	position: absolute;
	width: 455px;
	height: 200px;
	left: 700px;
	top: 425px;
	border: 1px solid black;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-left: 10px;

	text-align: left;
	word-spacing: 1px;
	display: none;
}

.link_details:hover .info_details{
	display: block;
}

.info_details2{
	font-size: 17px;
	font-weight: lighter;
	color: #535353;

	position: absolute;
	width: 455px;
	height: 200px;
	left: 938px;
	top: 425px;
	letter-spacing: 1px;
	padding: 5px;

	text-align: left;
	word-spacing: 1px;
	display: none;
}

.link_details:hover .info_details2{
	display: block;
}

/*//////////////////////////// DETAILS ////////////////////////////*/

.btn3{
	position: absolute;
	left: 930px;
	top: 375px;
	width: 225px;
	height: 45px;
	color: black;
	background-color: transparent;
	font-family: 'Lexend Zetta';
	font-size: 20px;
	letter-spacing: 1px;
	border: transparent;
	border-bottom: solid black;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn3:hover{
	border-bottom: 5px solid #00398F;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

/*.back_btn{
	color: black;
	font-size: 15px;
	font-family: 'Lexend Zetta';
	letter-spacing: 1px;
	background-color: transparent;
	border: none;
	position: absolute;
	cursor: pointer;
	left: 115px;
	top: 129px;
	transition: all 0.3s ease;
}

.back_btn:hover{
	font-size: 18px;
}*/

.imagen{
	box-sizing: border-box;
	position: absolute;
	left: 20%;
	top: 155px;
}

.footer{
	width: 100%;
	height: 300px;
	top: 900px;
	padding-bottom: 0%;
	position: absolute;
	background-color: rgb(240, 240, 240);
}

.footer h1{
	position: absolute;
	top: 35px;
	left: 100px;
	color: black;
	font-family: 'Lexend Zetta';
	font-size: 20px;
	font-weight: lighter;
}

.footer input{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 250px;
	height: 35px;
	color: white;
	background: rgba(0, 0, 0, 0.493);
	border: solid 1px black;
	border-radius: 5px;
	font-family: 'Lexend Zetta';
	font-size: 15px;
}

.footer ::placeholder{
	color: rgb(211, 211, 211);
}

.email{
	width: 60px;
	height: 39px;
	position: absolute;
	top: 100px;
	left: 360px;
	background: #00398F;
	border: solid 	1px black;
	border-radius: 5px;
	font-family: 'Lexend Zetta';
	/*transition: all 0.3ms ease;*/
}

.email a{
	text-decoration: none;
	color: white;
}

.footer h2{
	position: absolute;
	top: 35px;
	left: 992px;
	color: black;
	font-family: 'Lexend Zetta';
	font-size: 20px;
	font-weight: lighter;
}

.footer h3{
	position: absolute;
	top: 100px;
	left: 995px;
	color: black;
	font-family: 'Lexend Zetta';
	font-size: 15px;
	font-weight: lighter;
	text-align: left;
}

.line{
	top: 249px;
	left: 85px;
	background: transparent;
	border-top: black;
	border: solid 0.5px black;
	position: absolute;
	width: 1250px;
}

.footer h4{
	position: absolute;
	top: 250px;
	left: 85px;
	color: black;
	font-size: 15px;
	font-weight: lighter;
	padding-bottom: 10px;
}

.footer h4 a{
	text-decoration: none;
	color: black;
}

.footer h5{
	position: absolute;
	top: 25px;
	left: 750px;
	color: black;
	font-family: 'Lexend Zetta';
	font-size: 20px;
	font-weight: lighter;
	letter-spacing: 1px;
}

.footer h6{
	position: absolute;
	top: 85px;
	left: 750px;
	color: black;
	font-size: 15px;
	font-weight: lighter;
	padding-bottom: 10px;
	text-align: left;
}

.footer h6 a{
	text-decoration: none;
	color: black;
}
