
body{
	margin: 0px;
	padding: 0px;
}

.home{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.cover{
	width: 100%;
	height: 100vh;
	background-color: rgba(223, 223, 223, 0.424);
}

.navbar{
	width: 100%;
	display: flex;
	height: 65px;
	align-items: center;
	justify-content: space-between;
	padding: 0 24px;
	box-sizing: border-box;
	position: fixed;
	color: black;
	font-size: 30px;
}

.logo{
	position: relative;
	top: 15px;
	right: 75px;
}

.content{
	text-align: right;
	font-size: 40px;
	color: black;
	font-family: 'Lexend Zetta';

}

.content h1{
	position: absolute;
	text-align: left;
	width: 300px;
	height: 171px;
	left: 700px;
	top: 150px;
	font-size: 54px;
	font-weight: bold;
	color: rgb(0, 0, 0);
}

.content h2{
	position: absolute;
	width: 800px;
	height: 66px;
	left: 272px;
	top: 300px;
	font-size: 15px;
	font-weight: inherit;
	letter-spacing: 1.45px;
	word-spacing: 1px;
	color: rgb(71, 71, 71);
}

.info_details{
	font-size: 17px;
	font-weight: lighter;
	color: white;

	box-sizing: border-box;
	position: absolute;
	width: 225px;
	height: 200px;
	left: 700px;
	top: 425px;
	border: 2px solid rgba(0, 0, 0, 0.616);
	background-color: rgba(0, 0, 0, 0.616);

	text-align: left;
	word-spacing: 1px;
	display: none;
}

.link_details:hover .info_details{
	display: block;
}

.info_token{
	font-size: 17px;
	font-weight: lighter;
	color: white;

	width: 225px;
	height: 200px;
	top: 425px;
	right: 285px;
	box-sizing: border-box;
	border: solid 2px rgba(0, 0, 0, 0.616);
	position: absolute;
	background-color: rgba(0, 0, 0, 0.616);

	text-align: left;
	word-spacing: 1px;
	display: none;
}

.link_token:hover .info_token{
	display: block;
}

.btn1{
	color: black;
	background-color: transparent;
	border: none;
	font-family: 'Lexend Zetta';
	font-size: 30px;
	letter-spacing: 2px;
	cursor: pointer;
}

.btn2{
	position: absolute;
	left: 700px;
	top: 375px;
	width: 225px;
	height: 45px;
	color: black;
	background-color: transparent;
	font-family: 'Lexend Zetta';
	font-size: 20px;
	letter-spacing: 1px;
	border: solid black;
	cursor: pointer;
	transition: all 0.8s ease;
}

.btn2:hover{
	background-color: rgb(0, 0, 0);
	color: white;
}

.btn3{
	position: absolute;
	left: 930px;
	top: 375px;
	width: 225px;
	height: 45px;
	color: black;
	background-color: transparent;
	font-family: 'Lexend Zetta';
	font-size: 20px;
	letter-spacing: 1px;
	border: solid black;
	cursor: pointer;
	transition: all 0.8s ease;
}

.btn3:hover{
	background-color: rgb(0, 0, 0);
	color: white;
}

.back_btn{
	color: black;
	font-size: 15px;
	font-family: 'Lexend Zetta';
	letter-spacing: 1px;
	background-color: transparent;
	border: none;
	position: absolute;
	cursor: pointer;
	left: 115px;
	top: 129px;
}

.back_btn:hover{
	font-size: 18px;
	border: solid 1px black;
	border-radius: 5px;
}

.imagen{
	box-sizing: border-box;
	position: absolute;
	left: 20%;
	top: 155px;
}
