.landing_section5{
	display: flex;
	width: 100%;
	height: 100vh;
	background: linear-gradient(180deg, #101010 4.92%, #1C1F28 23.69%, #253755 71.35%, #253755 83.85%, #2B4570 100%);

}

.wrap_section5{
	display: flex;
	width: 100%;
	flex-direction: column;
	padding-left: 120px;
}

.landing_tittle5{
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	width: max-content;
	padding: 0px 0px 0px 100px;
	color: var(--White, #eff7ff);

	/* Display - Titulo/48/Bold */
	font-family: 'Poppins', sans-serif;
	font-size: 42px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 140%; /* 58.8px */
	letter-spacing: 1.26px;
}

.form-row {
	display: flex;
	width: 1100px;
	justify-content: space-between;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 50px;
	height: 40px;
	width: 535px;
	font-family: 'Poppins', sans-serif;
}

input{
	width: 100%;
	height: 40px;
	padding: 10px;
	border: 1px solid #FFFDFE;
	background: none;
	border-radius: 15px;

	color: var(--White, #FFFDFE);

	/* Body/16/Medium */
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 175%; /* 28px */
}

.submit-btn {
	width: 250px;
	height: 41px;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 30px;
	border: 5px solid var(--White, #FFFDFE);
	background: var(--White, #FFFDFE);

	color: var(--Blue, #2B4570);

	/* Heading - Subtitulo/20/Semibold */
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%; /* 32px */
	letter-spacing: 2px;

	cursor: pointer;
	transition: 0.25s;
}

.submit-btn:hover {
	background: none;
	border: solid 2px #E94981;
	color: #E94981;
}
